.teambox {
    width: 45%;
    float: left;
    border: 3px solid black;
    margin-left: 20px;
}

.team1 {


}

.team2 {

}

.submitButton {
	margin-top: 50px;
}


#teambox {
    font-family: sans-serif;

}

.teamboxleft {
    width: 50%;
    float: left;
    border: black solid 1px;
}

.teamboxright {
    width: 49%;
    float: left;
    border: black solid 1px;
}

.teamname {
    font-size: 24px;
    text-align: center;
}

.awards {
     font-family: sans-serif;
}

.awardsTable {
    border-collapse:collapse;
    border:1px solid #000;
}

.awardsTable td {
    border:1px solid #000;
}