
/*-------------------------------------------------------------
	ARTICLE
--------------------------------------------------------------*/

.article
{
	margin:				$spacing-large;
	margin-top:			calc( 40vh + 5vw );
	margin-bottom:		$spacing-medium;
	padding:			$spacing-medium;
}

.article .hero-image
{	min-height:			30vh; }


/*-------------------------------------------------------------
	First hero-image is repositioned at the top of the page
--------------------------------------------------------------*/

.article .hero-image:nth-of-type(1)
{
	position:			absolute;
	top:				$spacing-none;
	left:				$spacing-none;
	
	min-height:			40vh;
}

.article .hero-image:nth-of-type(1) .overlay h1
{	
	position: 			absolute;
	z-index:			$z-image-overlay;
	
	right: 				$spacing-large;
	left: 				$spacing-large;
	bottom: 			$spacing-none;
	
	padding: 			$spacing-medium;
	padding-left:		$spacing-small;
	padding-right:		$spacing-small;
}

.article > .hero-image ~ .article-header
{
	display:			none;
}

.article-header
{
	position:			absolute;
	top:				$spacing-none;
}


/*-------------------------------------------------------------
	ARTICLE PREVIEW
--------------------------------------------------------------*/

.article-preview
{
	background:		$white;
	
	padding:		$spacing-medium;
	border-radius:	20px;
	
	margin-top:		$spacing-medium;
	margin-bottom:	$spacing-medium;
	margin-left:	$spacing-large;
	margin-right:	$spacing-large;
}

.article-preview .article-timestamp
{
	text-align:		center;
}

.article-preview .article-timestamp + a h1
{
	padding-top:	$spacing-small;
}

.article-preview .hero-image
{	display: 		none; }


/*-------------------------------------------------------------
	GUIDE PREVIEW
--------------------------------------------------------------*/

.gallery .guide-preview
{
	position:		absolute;
	z-index:		$z-image-overlay;
	bottom:			0;
	
	height:			auto;
	width:			100%;
	padding:		$spacing-small;
		
	box-sizing: 	border-box;
	
	color:			white;
	background:		black;
	background:		rgba( 0, 0, 0, 0.5 );
}

.gallery a:hover .guide-preview
{
	color:			$light-link-hover;
}

.gallery .article-title
{
	font-family: 		'Raleway', sans;
	font-size:			1.4em;
	font-weight:		bold;
	text-align: 		left;
	text-transform: 	uppercase;
	padding: 			1vw; 
}
  
.gallery .article-info 
{
	padding: 1vw;
	padding-top: 0;
}