
/*-------------------------------------------------------------
	COLORS
	
	SCSS sheet for color variables.
--------------------------------------------------------------*/

$deep-dark-blue:	#010608;
$dark-blue: 		#2B464F;
$blue:				#3f6674;
$light-blue:		#eff4f6;
$yellow:			#F9FF4A;
$orange:			#ff751a;

$black:				#000000;
$white:				#FFFFFF;
$off-white:			#ffffe5;


$navigation:		$deep-dark-blue;

$light-link:		$orange;
$light-link-hover:	$orange;

$dark-link:			$orange;
$dark-link-hover:	$orange;