
/*-------------------------------------------------------------
	COMMON
--------------------------------------------------------------*/

body *
{
	box-sizing: border-box;
}

body
{ 	
	font-family: 	'Aleo', serif; 
	color:			black;
}

h1, h2, h3, h4, h5, h6
{ 	
	font-family: 	'Raleway', sans-serif;
	
	text-transform:	uppercase;
	text-align:		center;
	
	padding:		$spacing-small;
}

h1
{ 	
	font-size: 		2em; 
	padding-top:	$spacing-medium;
}

h2
{ 	
	font-size: 		1.8em; 
}

h3
{ 	font-size: 		1.6em; }

h4
{ 	font-size: 		1.4em; }

h5
{ 	font-size: 		1.2em; }

h6
{ 
	font-size: 		1.2em;
	font-style: 	italic;
	font-weight:	normal;
}

span.text-center 
{
	display: block;
	text-align: center;
}


/* -------------------------------------------------------------
	LINKS
------------------------------------------------------------- */

a
{ 	color:			$dark-link; }

a:hover
{	color:			$dark-link-hover; }


.hide-on-mobile
{	display:		none; }

.arrow-down
{
    position:		absolute;
	z-index:		$z-image-overlay-content;
	bottom:			$spacing-medium;
	left:			50%;
    width: 			2em;
    height: 		2em;
    border-right: 	0.2em solid white;
    border-top: 	0.2em solid white;
    transform: 		rotate(135deg);
}
