
/* -------------------------------------------------------------
	IMG CONTAINER
------------------------------------------------------------- */

.img-container
{
	position: 			relative;
	overflow:			hidden;
	width:				100%;
	height:				auto;
}

.img-container.tall img, .img-container.tall video
{
	width:				100%;
	height:				auto;
}

.img-container img, .img-container video
{
	width: 				100%;
	height: 			auto;
	
	min-width:			100%;
	min-height:			100%;
	
	position:			absolute;
	z-index:			$z-image;
	
	top:				-9999px;
	bottom:				-9999px;
	left:				-9999px;
	right:				-9999px;
	
	margin:				auto;
}


/* -------------------------------------------------------------
	GALLERY
------------------------------------------------------------- */

.gallery
{
	position: 			relative;
	
	width:				100%;
	padding: 			$spacing-small;
	
	display: 			-ms-flexbox;
	display: 			-webkit-box;
	display: 			flex;
	
	justify-content:	center;
}

.gallery.horizontal-wrap, .gallery.horizontal
{
	-ms-flex-wrap: 		wrap;
	-ms-flex-direction: row;
	-webkit-flex-flow: 	row wrap; 
	flex-flow: 			row wrap; 
}

.gallery.vertical-wrap, .gallery.vertical
{
	-ms-flex-wrap: 		wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: 	column; 
	flex-flow: 			column wrap; 
}

.profile {
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  transition: bottom 0.3s ease-in-out;
  position: absolute;
  z-index: 90; }
  
.img-container:hover .profile
{
	background-color: rgba(0,0,0,0.8);
	bottom: 0 !important;
}

.gallery.horizontal > div
{
	width:				100%;
}

.gallery > div 
{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2px; 
}

.gallery > div .img-container.fit-height img
{
	height:		100%;
}

.gallery.small > div .img-container, .gallery.small a > div .img-container
{
	width:				40vw;
	height:				40vw;
}

.gallery.medium > div .img-container
{
	width:				70vw;
	height:				30vw;
}

.gallery.large > div .img-container
{
	width:				80vw;
	height:				30vw;
}

.gallery h1
{
	color:				white;
}

.gallery a
{
	position:			relative;
	margin:				2px;
	color: 				black;
}


/* -------------------------------------------------------------
	Sections
------------------------------------------------------------- */

.section-large, .section-medium, .section-small, .section-none
{
	box-sizing: 	border-box;
	overflow:		auto;
}


/* -------------------------------------------------------------
	Section Large
------------------------------------------------------------- */

.section-large	
{ 
	padding: 		$spacing-large;
}

.section-large .float-right .pad
{
	padding-top:	$spacing-large;
	padding-bottom:	$spacing-large;
	padding-left: 	$spacing-large;
	padding-right:	0;
}

.section-large .float-left .pad
{
	padding-top:	$spacing-large;
	padding-bottom:	$spacing-large;
	padding-right: 	$spacing-large;
	padding-left:	0;
}


/* -------------------------------------------------------------
	Section Medium
------------------------------------------------------------- */

.section-medium	
{ 
	padding: 		$spacing-medium; 
}

.section-medium > h1
{	
	padding:		0;
	padding-bottom:	2.5vw;
}

.section-medium h1 ~ h1
{
	padding-top:	$spacing-medium;
	padding-bottom:	$spacing-small;
}

.section-medium .float-right .pad
{
	padding-top:	$spacing-medium;
	padding-bottom:	$spacing-medium;
	padding-left: 	$spacing-medium;
	padding-right:	0;
}

.section-medium .float-left .pad
{
	padding-top:	$spacing-medium;
	padding-bottom:	$spacing-medium;
	padding-right: 	$spacing-medium;
	padding-left:	0;
}


/* -------------------------------------------------------------
	Section Small
------------------------------------------------------------- */

.section-small	
{ 
	padding: 		$spacing-small; 
}

.section-small .float-right .pad
{
	padding-top:	$spacing-small;
	padding-bottom:	$spacing-small;
	padding-left: 	$spacing-small;
	padding-right:	0;
}

.section-small .float-left .pad
{
	padding-top:	$spacing-small;
	padding-bottom:	$spacing-small;
	padding-right: 	$spacing-small;
	padding-left:	0;
}


/* -------------------------------------------------------------
	Section None
------------------------------------------------------------- */

.section-none	
{ 
	padding: 		$spacing-none;  
}

.section-none .float-right .pad 
{
	padding-top:	$spacing-none;
	padding-bottom:	$spacing-none;
	padding-left: 	$spacing-none;
	padding-right:	0;
}

.section-none .float-left .pad
{
	padding-top:	$spacing-none;
	padding-bottom:	$spacing-none;
	padding-right: 	$spacing-none;
	padding-left:	0;
}


/* -------------------------------------------------------------
	Section None
------------------------------------------------------------- */

.bg-blue
{	
	color:			white;
	background:		$dark-blue; 
}

.bg-off-white
{	
	color:			black;
	background:		$off-white; 
}


