/*-------------------------------------------------------------
	FONTS
--------------------------------------------------------------*/


/*-------------------------------------------------------------
	Raleway
	
	Sans-Serif font for headers.
--------------------------------------------------------------*/

@font-face 
{
    font-family: 	'Raleway';
    src: 			url( '/site/fonts/raleway/Raleway-Regular.ttf' );
	font-weight:	normal;
	font-style:		normal;
}

@font-face
{
	font-family:	'Raleway';
	src:			url( '/site/fonts/raleway/Raleway-Italic.ttf' );
	font-weight:	normal;
	font-style:		italic;
}

@font-face
{
	font-family:	'Raleway';
	src:			url( '/site/fonts/raleway/Raleway-Bold.ttf' );
	font-weight:	bold;
	font-style:		normal;
}

@font-face
{
	font-family:	'Raleway';
	src:			url( '/site/fonts/raleway/Raleway-BoldItalic.ttf' );
	font-weight:	bold;
	font-style:		italic;
}


/*-------------------------------------------------------------
	Aleo
	
	Serif font for body text.
--------------------------------------------------------------*/

@font-face 
{
    font-family: 	'Aleo';
    src: 			url( '/site/fonts/aleo/Aleo-Regular.otf' );
	font-weight:	normal;
	font-style:		normal;
}

@font-face
{
	font-family:	'Aleo';
	src:			url( '/site/fonts/aleo/Aleo-Italic.otf' );
	font-weight:	normal;
	font-style:		italic;
}

@font-face
{
	font-family:	'Aleo';
	src:			url( '/site/fonts/aleo/Aleo-Bold.otf' );
	font-weight:	bold;
	font-style:		normal;
}

@font-face
{
	font-family:	'Aleo';
	src:			url( '/site/fonts/aleo/Aleo-BoldItalic.otf' );
	font-weight:	bold;
	font-style:		italic;
}