
/* -------------------------------------------------------------
	Images
------------------------------------------------------------- */

img, video
{
	width:				100%;
	height:				auto;
}

img.raw, video.raw
{
	width:				auto;
	height:				auto;
}

.float-right
{
	float: 				right; 
	clear: 				left;
}

.float-left
{ 
	float: 				left;
	clear: 				right;
}

iframe {
   width: 100%;
   height: auto;
   min-height: 40vw;
   padding: 5vw; }


/* -------------------------------------------------------------
	Hero Images
------------------------------------------------------------- */

.hero-image, .hero-video
{
	position:			relative;
	min-height:			40vh;
}

.hero-image.fullscreen, .hero-video.fullscreen
{
	min-height: 		100vh;
}

.img-container.hero-image img, .img-container.hero-video video
{	
	width: 				auto;
	height: 			auto;
	
	min-width:			100%;
	min-height:			100%;
	
	position:			absolute;
	z-index:			$z-image;
	
	top:				-9999px;
	bottom:				-9999px;
	left:				-9999px;
	right:				-9999px;
	
	margin:				auto;
}

.hero-video
{
	display:			none;
}


.hero-image h1, .hero-video h1
{	font-size:			3em; }


/* -------------------------------------------------------------
	OVERLAY
------------------------------------------------------------- */

.overlay
{
	display:			flex;
	justify-content:	center;
	align-items:		center;
	
	height:				100%;
	
	min-width: 			100%;
	min-height: 		100%;
	
	position: 			absolute;
	z-index:			$z-image-overlay;

	top:				0;
	bottom:				0;
	left:				0;
	right:				0;
	
	margin: 			auto;
}

.overlay.black
{
	color:				$white;
	background-color: 	rgba( 0, 0, 0, 0.6 );
}
