/* -------------------------------------------------------------
	MEDIA QUERIES
------------------------------------------------------------- */


/* -------------------------------------------------------------
	Desktop View
------------------------------------------------------------- */

@media ( min-width: 700px )
{

	/* -------------------------------------------------------------
		Common
	------------------------------------------------------------- */
	
	h1
	{ 	
		font-size: 		2.5em; 
		padding-top:	$spacing-medium;
	}

	h2
	{ 	
		font-size: 		2em; 
	}

	h3
	{ 	font-size: 		1.6em; }

	h4
	{ 	font-size: 		1.4em; }

	h5
	{ 	font-size: 		1.2em; }

	h6
	{ 
		font-size: 		1.2em;
		font-style: 	italic;
		font-weight:	normal;
	}

	.hide-on-mobile
	{	display:		block; }
	
	.article img, .article video {
    width: auto;
	max-width: 100%;
    height: auto; }

	
	/* -------------------------------------------------------------
		Navigation
	------------------------------------------------------------- */
	
	#nav-primary
	{
		padding:			$spacing-small;
	}
	
	/* -------------------------------------------------------------
		Containers
	------------------------------------------------------------- */
	
	.img-container.tall img, .img-container.tall video 
	{
		width: auto;
		height: 100%; 
	}
	
	.gallery.horizontal-wrap
	{
		-ms-flex-wrap: 		wrap;
		-ms-flex-direction: row;
		-webkit-flex-flow: 	row wrap; 
		flex-flow: 			row wrap; 
	}

	.gallery.horizontal
	{
		-ms-flex-direction: row;
		-webkit-flex-flow: 	row; 
		flex-flow: 			row; 
	}

	.gallery.vertical-wrap
	{
		-ms-flex-wrap: 		wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: 	column; 
		flex-flow: 			column wrap; 
	}

	.gallery.vertical
	{
		-ms-flex-direction: column;
		-webkit-flex-flow: 	column; 
		flex-flow: 			column; 
	}

	.gallery.small > div .img-container, .gallery.small a > div .img-container
	{
		width:				20vw;
		height:				20vw;
		max-width:			250px;
		max-height:			250px;
	}
	
	.gallery.medium > div .img-container
	{
		width:				20vw;
		height:				20vw;
	}

	.gallery.large > div .img-container
	{
		width:				30vw;
		height:				15vw;
	}
	
	.img-container.thumbnail
	{
		width:				15vw;
		height:				15vw;
	}
	
	.img-container
	{
		height: 			auto;
		max-height:			initial;
	}
	
	.flex-container
	{	
		display: 			flex; 
	}

	.flex-column
	{	flex-direction:		column; }

	.flex-col-third-2
	{
		position:			relative;
		overflow: 			hidden;
		flex:				60% 2 2;
	}

	.flex-col-third-1
	{
		position:			relative;
		overflow: 			hidden;
		flex:				40% 1 1;
	}

	.flex-right
	{	order:				2; }

	.flex-left
	{	order:				1; }
	
	
	/* -------------------------------------------------------------
		Navigation
	------------------------------------------------------------- */
	
	#nav-primary .menu
	{
		display: 		table-cell;
	}
	
	label[for="mobile-menu-trigger"]
	{
		display:		none;
	}
	
	#mobile-menu-trigger:checked + label
	{
		right: 0;
	}

	#mobile-menu-trigger:checked ~ .site-wrapper
	{
		right: 0;
	}
	
	/* -------------------------------------------------------------
		Images
	------------------------------------------------------------- */
	
	.hero-image h1, .hero-video h1
	{	font-size:			5em; }
	
	.article .hero-image h1
	{	font-size:			3em;
		padding:			0;
	}
	
	.img-container.hero-video
	{
		display:		block;
	}
	
	.img-container.hero-video + .img-container.hero-image
	{
		display:		none;
	}
}

