
/* -------------------------------------------------------------
	NAVIGATION
------------------------------------------------------------- */


/* -------------------------------------------------------------
	General Navigation
------------------------------------------------------------- */

.navigation
{
	width:				100%;
	font-family:		'Raleway';
	text-transform: 	uppercase;
	display: 			table;
	text-align:			right;
}

.navigation.solid {
	background: white;
	box-shadow: 0 2px 0 rgba(0,0,0,.1);	}

.navigation .nav-title
{
	display: 			table-cell;
	vertical-align: 	middle;
	text-align:			left;
}

.navigation a
{
	color:				white;

	border-style:		solid;
	border-width:		1px;
	border-color:		rgba( 0, 0, 0, 0);
	
	padding: 4px;
	margin-left: 6px;
	margin-right: 6px;
}

.navigation a:hover {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #ff751a;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px; }
  
.navigation.solid a, .navigation.solid a:hover {
	color:		black;
}

.navigation .menu {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}


/* -------------------------------------------------------------
	Primary Navigation
------------------------------------------------------------- */

#nav-primary
{
	position: 			fixed;
	z-index: 			$z-index;
	padding:			15px;
}

#nav-primary .menu
{	display: 			none; }


/* -------------------------------------------------------------
	Mobile Navigation
------------------------------------------------------------- */


.site-wrapper
{
	min-width:			100%;
	min-height:			100%;
	background:			$dark-blue;
	
	position:			relative;
	top:				0;
	bottom:				100%;
	right:				0;
	
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

.menu-hamburger
{
	position:			fixed;
	z-index:			1;
	
	height:				100%;
	width:				100%;
	
	top:				0;
	bottom:				0;
	left:				0;
	right:				0;
	
	background:			black;
	
	font-family: 		'Raleway', sans-serif;
	text-transform:		uppercase;
}

.menu-hamburger a
{
	text-align:			right;
	padding:			$spacing-small;
	color:				white;
	background:			black;
	display:			block;
	
	padding:			$spacing-medium;
	border-bottom:		.1em solid $orange;
}

.menu-hamburger a:hover
{
	background:			$orange;
}

#mobile-menu-trigger
{
	display:			none;
}

label[for="mobile-menu-trigger"].solid {
	fill: black;
}

label[for="mobile-menu-trigger"]
{
	fill: 				white;
	position:			fixed;
	top:				10px;
	right:				15px;
	z-index:			120;	
	width:				25px;
	height:				25px;
	cursor:				pointer;
	transition:			all 0.3s ease-in-out;
}

svg {
	  width: 100%;
	  height: 100%;
  }

#mobile-menu-trigger:checked + label
{
	right: 				calc(60% + 15px);
}

#mobile-menu-trigger:checked ~ .site-wrapper
{
	right:				60%;
}


