
/*-------------------------------------------------------------
	TRANSITIONS
--------------------------------------------------------------*/

body * 
{
  -webkit-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  -moz-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  -ms-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  -o-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  transition: opacity, height, width, fill, background 0.3s ease-in-out;
}

.fade {
	color: white;
	background: rgba(0,0,0,0.8);
}

a:hover .fade, .fade:hover {
	background: black;
}