
/*-------------------------------------------------------------
	VARIABLES
	
	SCSS sheet for z-indexs and spacing variables.
--------------------------------------------------------------*/

/* -------------------------------------------------------------
	Z-INDEXES
------------------------------------------------------------- */

$z-index:					100;
$z-image-overlay-content:	95;
$z-image-overlay:			90;
$z-image:					80;


/* -------------------------------------------------------------
	CONTAINERS
------------------------------------------------------------- */

$spacing-large:				10vw;
$spacing-medium:			5vw;
$spacing-small:				1vw;
$spacing-none:				0px;