/*-------------------------------------------------------------
	phpBB3 Style Sheet
	
	Style name:			Metro
	Based on style:		
	Modified by:		Matthew Short ( http://mattrshort.com/ )
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	FONTS
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	Raleway
	
	Sans-Serif font for headers.
--------------------------------------------------------------*/
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
/*-------------------------------------------------------------
	Aleo
	
	Serif font for body text.
--------------------------------------------------------------*/
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-Italic.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-Bold.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
/*-------------------------------------------------------------
	COLORS
	
	SCSS sheet for color variables.
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	VARIABLES
	
	SCSS sheet for z-indexs and spacing variables.
--------------------------------------------------------------*/
/* -------------------------------------------------------------
	Z-INDEXES
------------------------------------------------------------- */
/* -------------------------------------------------------------
	CONTAINERS
------------------------------------------------------------- */
/* -------------------------------------------------------------
	CSS Reset
	
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------------------
	COMMON
--------------------------------------------------------------*/
body * {
  box-sizing: border-box; }

body {
  font-family: 'Aleo', serif;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1vw; }

h1 {
  font-size: 2em;
  padding-top: 5vw; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal; }
  
span.text-center {
	display: block;
	text-align: center;
}

/* -------------------------------------------------------------
	LINKS
------------------------------------------------------------- */
a {
  color: #ff751a; }

a:hover {
  color: #ff751a; }

.hide-on-mobile {
  display: none; }

.arrow-down {
  position: absolute;
  z-index: 95;
  bottom: 5vw;
  left: 50%;
  width: 2em;
  height: 2em;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg); }

/* -------------------------------------------------------------
	Images
------------------------------------------------------------- */
img, video {
  width: 100%;
  height: auto; }

img.raw, video.raw {
  width: auto;
  height: auto; }

.float-right {
  float: right;
  clear: left; }

.float-left {
  float: left;
  clear: right; }
  
iframe {
   width: 100%;
   height: auto;
   min-height: 40vw;
   padding: 5vw; }

/* -------------------------------------------------------------
	Hero Images
------------------------------------------------------------- */
.hero-image, .hero-video {
  position: relative;
  min-height: 40vh; }

.hero-image.fullscreen, .hero-video.fullscreen {
  min-height: 100vh; }

.img-container.hero-image img, .img-container.hero-video video {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 80;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto; }

.hero-video {
  display: none; }

.hero-image h1, .hero-video h1 {
  font-size: 3em; }

/* -------------------------------------------------------------
	OVERLAY
------------------------------------------------------------- */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.overlay.black {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6); }

/* -------------------------------------------------------------
	IMG CONTAINER
------------------------------------------------------------- */
.img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto; }

.img-container.tall img, .img-container.tall video {
  width: 100%;
  height: auto; }

.img-container img, .img-container video {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 80;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto; }

/* -------------------------------------------------------------
	GALLERY
------------------------------------------------------------- */
.gallery {
  position: relative;
  width: 100%;
  padding: 1vw;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center; }

.gallery.horizontal-wrap, .gallery.horizontal {
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.gallery.vertical-wrap, .gallery.vertical {
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: column;
  flex-flow: column wrap; }
  
.profile
{
	width: 100%;
	transition: bottom 0.3s ease-in-out;
}

.gallery.horizontal > div {
  width: 100%; }

.gallery > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2px; }

.gallery > div .img-container.fit-height img {
  height: 100%; }

.gallery.small > div .img-container {
  width: 40vw;
  height: 40vw; }

.gallery.medium > div .img-container {
  width: 70vw;
  height: 30vw; }

.gallery.large > div .img-container {
  width: 80vw;
  height: 30vw; }

.gallery h1 {
  color: white; }

.gallery a {
  position: relative;
  margin: 2px;
  color: black; }

/* -------------------------------------------------------------
	Sections
------------------------------------------------------------- */
.section-large, .section-medium, .section-small, .section-none {
  box-sizing: border-box;
  overflow: auto; }

/* -------------------------------------------------------------
	Section Large
------------------------------------------------------------- */
.section-large {
  padding: 10vw; }

.section-large .float-right .pad {
  padding-top: 10vw;
  padding-bottom: 10vw;
  padding-left: 10vw;
  padding-right: 0; }

.section-large .float-left .pad {
  padding-top: 10vw;
  padding-bottom: 10vw;
  padding-right: 10vw;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section Medium
------------------------------------------------------------- */
.section-medium {
  padding: 5vw; }

.section-medium > h1 {
  padding: 0;
  padding-bottom: 2.5vw; }

.section-medium h1 ~ h1 {
  padding-top: 5vw;
  padding-bottom: 1vw; }

.section-medium .float-right .pad {
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 0; }

.section-medium .float-left .pad {
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-right: 5vw;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section Small
------------------------------------------------------------- */
.section-small {
  padding: 1vw; }

.section-small .float-right .pad {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 0; }

.section-small .float-left .pad {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section None
------------------------------------------------------------- */
.section-none {
  padding: 0px; }

.section-none .float-right .pad {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0; }

.section-none .float-left .pad {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section None
------------------------------------------------------------- */
.bg-blue {
  color: white;
  background: #2B464F; }

.bg-off-white {
  color: black;
  background: #ffffe5; }

/*-------------------------------------------------------------
	ARTICLE
--------------------------------------------------------------*/
.article {
  margin: 10vw;
  margin-top: calc( 40vh + 5vw );
  margin-bottom: 5vw;
  padding: 5vw; }

.article .hero-image {
  min-height: 30vh; }

/*-------------------------------------------------------------
	First hero-image is repositioned at the top of the page
--------------------------------------------------------------*/
.article .hero-image:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 40vh; }

.article .hero-image:nth-of-type(1) .overlay h1 {
  position: absolute;
  z-index: 90;
  right: 10vw;
  left: 10vw;
  bottom: 0px;
  padding: 5vw;
  padding-left: 1vw;
  padding-right: 1vw; }

.article > .hero-image ~ .article-header {
  display: none; }

.article-header {
  position: absolute;
  top: 0px; }

/*-------------------------------------------------------------
	ARTICLE PREVIEW
--------------------------------------------------------------*/
.article-preview {
  background: #FFFFFF;
  padding: 5vw;
  border-radius: 20px;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 10vw;
  margin-right: 10vw; }

.article-preview .article-timestamp {
  text-align: center; }

.article-preview .article-timestamp + a h1 {
  padding-top: 1vw; }

.article-preview .hero-image {
  display: none; }

/*-------------------------------------------------------------
	GUIDE PREVIEW
--------------------------------------------------------------*/
.gallery .guide-preview {
  position: absolute;
  z-index: 90;
  bottom: 0;
  height: auto;
  width: 100%;
  padding: 1vw;
  box-sizing: border-box;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.5); }

.gallery a:hover .guide-preview {
  color: #ff751a; }

.gallery .article-title {
  font-family: 'Raleway', sans;
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding: 1vw; }
  
.gallery .article-info {
	padding: 1vw;
	padding-top: 0;
}

/* -------------------------------------------------------------
	NAVIGATION
------------------------------------------------------------- */
/* -------------------------------------------------------------
	General Navigation
------------------------------------------------------------- */
.navigation {
  width: 100%;
  font-family: 'Raleway';
  text-transform: uppercase;
  display: table;
  text-align: right; }
  
.navigation.solid {
	background: white;
	box-shadow: 0 2px 0 rgba(0,0,0,.1);	}

.navigation .nav-title {
  display: table-cell;
  vertical-align: middle;
  text-align: left; }

.navigation a {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px; }

.navigation a:hover {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #ff751a;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px; }
  
.navigation.solid a, .navigation.solid a:hover {
	color:		black;
}

.navigation .menu {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

/* -------------------------------------------------------------
	Primary Navigation
------------------------------------------------------------- */
#nav-primary {
  position: fixed;
  z-index: 100;
  padding: 15px; }

#nav-primary .menu {
  display: none; }

/* -------------------------------------------------------------
	Mobile Navigation
------------------------------------------------------------- */
.site-wrapper {
  min-width: 100%;
  min-height: 100%;
  background: #2B464F;
  position: relative;
  top: 0;
  bottom: 100%;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;  }

.menu-hamburger {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }

.menu-hamburger a {
  text-align: right;
  padding: 1vw;
  color: white;
  background: black;
  display: block;
  padding: 5vw;
  border-bottom: 0.1em solid #ff751a; }

.menu-hamburger a:hover {
  background: #ff751a; }

#mobile-menu-trigger {
  display: none; }
  
label[for="mobile-menu-trigger"].solid {
	fill: black;
}

label[for="mobile-menu-trigger"] {
  fill: white;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 120;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;  }

  svg {
	  width: 100%;
	  height: 100%;
  }
  
#mobile-menu-trigger:checked + label {
  right: calc(60% + 15px); }

#mobile-menu-trigger:checked ~ .site-wrapper {
  right: 60%; }

/*-------------------------------------------------------------
	TRANSITIONS
--------------------------------------------------------------*/
body * {
  -webkit-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  -moz-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  -ms-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  -o-transition: opacity, height, width, fill, background 0.3s ease-in-out;
  transition: opacity, height, width, fill, background 0.3s ease-in-out; }
  
.fade {
	color: white;
	background: rgba(0,0,0,0.8);
}

a:hover .fade, .fade:hover {
	background: black;
}

/* -------------------------------------------------------------
	MEDIA QUERIES
------------------------------------------------------------- */
/* -------------------------------------------------------------
	Desktop View
------------------------------------------------------------- */
@media (min-width: 700px) {
  /* -------------------------------------------------------------
  	Common
  ------------------------------------------------------------- */
  h1 {
    font-size: 2.5em;
    padding-top: 5vw; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.6em; }

  h4 {
    font-size: 1.4em; }

  h5 {
    font-size: 1.2em; }

  h6 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal; }

  .hide-on-mobile {
    display: block; }

  .article img, .article video {
    width: auto;
	max-width: 100%;
    height: auto; }
  /* -------------------------------------------------------------
  	Navigation
  ------------------------------------------------------------- */
  #nav-primary {
    padding: 1vw; }

  /* -------------------------------------------------------------
  	Containers
  ------------------------------------------------------------- */
  .img-container.tall img, .img-container.tall video {
	  width: auto;
	  height: 100%; }
  
  .gallery.horizontal-wrap {
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

  .gallery.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-flow: row;
    flex-flow: row; }

  .gallery.vertical-wrap {
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    flex-flow: column wrap; }

  .gallery.vertical {
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    flex-flow: column; }
	
  .gallery.small > div .img-container {
	  width: 20vw;
	  height: 20vw;
	  
	  max-width: 250px;
	  max-height: 250px;
  }

  .gallery.medium > div .img-container {
    width: 20vw;
    height: 20vw; }

  .gallery.large > div .img-container {
    width: 30vw;
    height: 15vw; }

  .img-container.thumbnail {
    width: 15vw;
    height: 15vw; }

  .img-container {
    height: auto;
    max-height: initial; }

  .flex-container {
    display: flex; }

  .flex-column {
    flex-direction: column; }

  .flex-col-third-2 {
    position: relative;
    overflow: hidden;
    flex: 60% 2 2; }

  .flex-col-third-1 {
    position: relative;
    overflow: hidden;
    flex: 40% 1 1; }

  .flex-right {
    order: 2; }

  .flex-left {
    order: 1; }

  /* -------------------------------------------------------------
  	Navigation
  ------------------------------------------------------------- */
  #nav-primary .menu {
    display: table-cell; }

  label[for="mobile-menu-trigger"] {
    display: none; }

  #mobile-menu-trigger:checked + label {
    right: 0; }

  #mobile-menu-trigger:checked ~ .site-wrapper {
    right: 0; }

  /* -------------------------------------------------------------
  	Images
  ------------------------------------------------------------- */
  .hero-image h1, .hero-video h1 {
    font-size: 5em; }

  .article .hero-image h1 {
    font-size: 3em;
	padding: 0; }

  .img-container.hero-video {
    display: block; }

  .img-container.hero-video + .img-container.hero-image {
    display: none; } }

/*# sourceMappingURL=style-metro.css.map */
